@model DhruvikLimbasiya_0415.Model.DbContext.BikeDetails

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_DashboardLayoutPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BikeDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilometresDriven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilometresDriven)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageUrls)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageUrls)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerPhoneNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
