@model DhruvikLimbasiya_0415.Model.DbContext.BikeDetails

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Edit Bike Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Bike Details</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.BikeId)
            <div class="row mb-3" style="width:100px; height:100px;">
                <div class="">
                    <label class="form-label">Image URL</label>
                    <img src="@Url.Content("~/Content/BikeImage/" + Model.ImageUrls)" class="img-fluid h-25  " />
                    @Html.ValidationMessageFor(model => model.ImageUrls, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Brand</label>
                    @Html.EditorFor(model => model.Brand, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Brand, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Model</label>
                    @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Year</label>
                    @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Kilometres Driven</label>
                    @Html.EditorFor(model => model.KilometresDriven, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.KilometresDriven, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Price</label>
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Description</label>
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
 
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Seller First Name</label>
                    @Html.EditorFor(model => model.SellerFirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SellerFirstName, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Seller Last Name</label>
                    @Html.EditorFor(model => model.SellerLastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SellerLastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Seller Email</label>
                    @Html.EditorFor(model => model.SellerEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SellerEmail, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-6">
                    <label class="form-label">Seller Phone Number</label>
                    @Html.EditorFor(model => model.SellerPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SellerPhoneNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Save</button>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ms-2" })
                </div>
            </div>
        </div>
    </div>
}

 